<!-- about_us.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center">Our Mission</h2>
    <p>At Quiz Master, our mission is to make learning fun and accessible to everyone. We believe in the power of
        quizzes to spark curiosity, enhance knowledge retention, and promote a love for learning. Our platform aims to
        inspire and educate users of all ages through interactive and entertaining quizzes.</p>

    <h2 class="text-center">Meet the Team</h2>
    <p>Quiz Master is brought to you by a passionate and dedicated team committed to creating a vibrant learning
        community. Get to know the faces behind the platform:</p>

    <!-- Center the team members in the middle -->
    <div class="d-flex justify-content-center">
        <!-- Team member card 1 -->
        <div class="card text-center mx-2">
            <div class="text-center mt-2">
                <img src="{% static 'core/profiles/profile2.jpg' %}" alt="John Doe" class="card-img-top rounded"
                    style="width: 100px; height: 100px;">
            </div>
            
            <div class="card-body">
                <h3 class="card-title">John Doe</h3>
                <p class="card-text">Co-Founder & CEO</p>
            </div>
        </div>
    
        <!-- Team member card 2 -->
        <div class="card text-center mx-2">
            <div class="text-center mt-2">
                <img src="{% static 'core/profiles/profile.jpg' %}" alt="Jane Smith" class="card-img-top rounded"
                    style="width: 100px; height: 100px;">
            </div>
            <div class="card-body">
                <h3 class="card-title">Jane Smith</h3>
                <p class="card-text">Co-Founder & CTO</p>
            </div>
        </div>
    </div>


    <h2>Contact Us</h2>
    <p>We'd love to hear from you! If you have any questions, suggestions, or feedback, feel free to reach out to our
        team at <a href="mailto:info@quizmaster.com">info@quizmaster.com</a>.</p>
</div>
{% endblock %}