<!-- about_us.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Our Platform</h2>
    <p>Welcome to Quiz Master! We are an online platform dedicated to providing a diverse and engaging quiz experience.
        Whether you're a trivia enthusiast, a lifelong learner, or someone looking for a fun challenge, Quiz Master has
        something for you. Explore our categories and test your knowledge across a variety of topics.</p>

    <h2 class="text-center">Our Mission</h2>
    <p>At Quiz Master, our mission is to make learning fun and accessible to everyone. We believe in the power of
        quizzes to spark curiosity, enhance knowledge retention, and promote a love for learning. Our platform aims to
        inspire and educate users of all ages through interactive and entertaining quizzes.</p>

    <h2 class="text-center">Meet the Team</h2>
    <p>Quiz Master is brought to you by a passionate and dedicated team committed to creating a vibrant learning
        community. Get to know the faces behind the platform:</p>

    <!-- Add team member details -->
    <div class="team-member">
        
        <h3>John Doe</h3>
        <p>Co-Founder & CEO</p>
    </div>

    <div class="team-member">
        
        <h3>Jane Smith</h3>
        <p>Co-Founder & CTO</p>
    </div>


    <h2>Contact Us</h2>
    <p>We'd love to hear from you! If you have any questions, suggestions, or feedback, feel free to reach out to our
        team at <a href="mailto:info@quizmaster.com">info@quizmaster.com</a>.</p>
</div>
{% endblock %}