<div id="carouselExample" class="carousel slide">
    <div style="width: 80%; margin: auto;" class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center banner"
                style="background-color: #f1f1f1; height: 300px;">
                <div class="text-center">
                    <h5>Quiz Test</h5>
                    <p>Explore a variety of quizzes across different categories.</p>
                </div>
            </div>
        </div>
        {% if quizzes %}
        {% for quiz in quizzes %}
        <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center banner" style="background-color: #f1f1f1; height: 300px; 
                /* background-image: url('{{ quiz.image.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat; */
                ">
                <div class="text-center">
                    <h4 class="card-title">{{ quiz.title }}</h4>
                    <p style="width: 66%; margin: auto;">{{ quiz.description }}</p>
                    <!-- {% if not user.is_authenticated %}
                    <p class="text-center">Please <a href="{% url 'login' %}">login</a> to start the quiz.</p>
                    {% else %}
                    <a class="btn btn-primary text-decoration-none rounded" href="{% url 'quiz_view' quiz.category.name %}">View {{ quiz.category.name|title }}
                        Quizzes</a>
                    {% endif %} -->

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span style="background-color: blue;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span style="background-color: blue;" class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>