{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="my-3">
    {% include 'carousel.html' %}
</div>

<!-- {% include 'banner.html' %} -->

{% include 'available_quiz_test.html' %}

<!-- Add link to Quiz Creation Contest -->
<div class="container mt-5">
    <h3 class="text-center mb-4">Express Your Creativity with Our Quiz Creation Contest</h3>
    <p class="text-center">
        <a href="{% url 'quiz_creation_contest' %}" class="btn btn-primary">Join Our Quiz Creation Contest</a>
    </p>
</div>

{% include 'educational_insights.html' %}

{% endblock %}