<style>
    .nav-item {
        opacity: 0;
        /* Set initial opacity to 0 */
        transition: opacity 0.8s ease-in-out;
    }

    .nav-item.fade-in {
        opacity: 1;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Quiz Master</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_staff %}
                <ul class="dropdown-menu" aria-labelledby="quizDropdown">
                    <li><a class="dropdown-item" href="{% url 'list_profiles' %}">List Profiles</a></li>
                    <li><a class="dropdown-item" href="{% url 'leaderboard' %}">Leaderboard</a></li>
                    <li><a class="dropdown-item" href="{% url 'rating_history' %}">Rating History</a></li>
                </ul>
                {% endif %}

                {% if user.is_authenticated and not user.is_staff %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="quizDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Quiz
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="quizDropdown">
                        <li><a class="dropdown-item" href="{% url 'quiz_history' user.username %}">Quiz History</a></li>
                        <li><a class="dropdown-item" href="{% url 'leaderboard' %}">Leaderboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'rating_history' %}">Rating History</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'privacy_settings' %}">Privacy Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script>

    function addFadeInEffect() {
        var navItems = document.querySelectorAll('.nav-item');
        navItems.forEach(function (item) {
            item.classList.add('fade-in');
        });
    }

    document.addEventListener('DOMContentLoaded', addFadeInEffect);
</script>