{% extends 'base.html' %}


{% block content %}
<h1>Home</h1>
<div class="container">
    <div class="container">
        <div class="btn-group d-flex justify-content-center gap-2">
            <a class="btn btn-primary text-decoration-none rounded" href="{% url 'home' %}">All Categories</a>
            {% for category in categories %}
            <a class="btn btn-primary text-decoration-none rounded"
                href="{% url 'category_wise_quiz' category.slug %}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div>
        {% if quizzes %}
        <ul>
            {% for quiz in quizzes %}
            <li>
                <h4>{{ quiz.quiz_title }}</h4>
                <p>{{ quiz.quiz_description }}</p>
                <p>Questions:</p>
                <ul>
                    {% for question in quiz.questions %}
                    <li>{{ question.question_text }}</li>
                    <ul>
                        {% for choice in question.choices %}
                        <li>{{ choice.quizAnswer }} - {% if choice.is_correct %}(Correct){% endif %}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No quizzes available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}