{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Quiz Test</h1>
<div class="container">
    {% if user.is_authenticated %}
    {% if customizeCategories %}
    <div class="btn-group d-flex justify-content-center gap-2 my-2">
        {% for category in customizeCategories %}
        <a class="btn btn-primary text-decoration-none rounded"
            href="{% url 'quiz_view' category.id %}">{{category.name}}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to start the quiz.</p>
    {% endif %}

    <div class="container">
        <div class="btn-group d-flex justify-content-center gap-2">
            <a class="btn btn-primary text-decoration-none rounded" href="{% url 'home' %}">All Categories</a>
            {% for category in categories %}
            <a class="btn btn-primary text-decoration-none rounded"
                href="{% url 'category_wise_quiz' category.slug %}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="mt-5">
        <div class="row">
            {% if quizzes %}
            {% for quiz in quizzes %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ quiz.title }}</h5>
                        <p class="card-text">{{ quiz.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No quizzes available.</p>
            {% endif %}
        </div>
</div>

{% endblock %}